/* General */
* {
  font-family: Calibri, Verdana, sans-serif;
  margin: 0;
}

a {
  color: #64b5f6;
}
a:hover {
  color:#1e88e5;
}

body {
  padding-right: 10%;
  padding-left: 10%;
}
.expand {
  width: 100%;
}
.left {
  text-align: left;
}
.center {
  text-align:center;
}
.right {
  text-align: right;
}
.inblock {
  display: inline-block;
}
.subhead {
  font-size: 20px;
  background-color: #e3f2fd;
}
.section {
  padding-top: 1%;
}
.subsect {
  font-size: 16px;
  margin-top: 0;
}
.title{
  width:74%;
  display: inline-block;
}
.date{
  width:25%;
  display: inline-block;
}

/* Header */
.MainHeader{
  text-align: center;
  font-size: 40px;
}
.third {
  width: 33%;
}
.full {
  border: #90caf9 5px solid;
  padding: 5% 5% 5% 5%;
}
.push {
  padding-left: 5%;
}

/*Skills*/
.pad {
  padding-left : 20%;
}
